
.services-container{
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    padding: 2rem 5%;
    width: 100%;
}

/* Page Title */
.page-title {
    text-align: center;
    font-size: 2.5rem;
    color: #6a0dad; /* Purple color */
    margin-bottom: 30px;
}

/* Services List */
.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

/* Service Card */
.service-card {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(128, 0, 128, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(128, 0, 128, 0.3);
}

.service-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6a0dad;
}

.service-description {
    color: #444;
    margin: 10px 0;
    font-size: 0.95rem;
    line-height: 1.6;
}

.service-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6a0dad;
    margin: 10px 0;
}

.service-user {
    font-size: 0.9rem;
    color: #777;
}


.service-link{
    margin: 10px 0;
}

.service-link .view-details {
    color: #6a0dad;
    text-decoration: none;
    font-weight: bold;
}

.service-link .view-details:hover {
    text-decoration: underline;
}

/* Service Actions (Edit/Delete Links) */
.service-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.service-actions .action-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    background: #6a0dad;
    padding: 5px 10px;
    border-radius: 5px;
}

.service-actions .action-link:hover {
    color: #3b2a6f; /* Darker purple */
}

/* No Services Message */
.no-services-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

/* Service Actions (Create New Service) */
.services-actions {
    margin-top: 60px;
    text-align: center;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(128, 0, 128, 0.2);
    width: fit-content;
    padding: 20px 2rem;
    border-radius: 10px;
}

.create-new-service-btn {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    width: fit-content;
}

.create-new-service-btn:hover {
    background-color: #562b82; /* Darker purple */
}

/* Responsive Grid Layout */
@media (max-width: 768px) {
    .service-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .page-title{
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .service-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .page-title{
        font-size: 1.9rem;
    }
}
